{
  "presets": [
    "@babel/preset-flow",
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10.6"
        }
      }
    ]
  ],
  "plugins": [
    [
      "relay",
      {
        "schema": "schema.graphql"
      }
    ],
    "dynamic-import-node",
    "transform-class-properties",
    "syntax-dynamic-import",
    "transform-flow-strip-types"
  ]
}
